In [3]:
import pandas as pd
listings = pd.read_csv(r"C:\Users\34650\Desktop\BOOTCAMP_CURSO\Temario\MODULO 3\STREAMLIT\Airbnb-Santiago-de-Chile-\Airbnb_SantiagoDeChile_App\listings_final(SC).csv")

In [4]:
listings

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,...,review_scores_location,review_scores_accuracy,review_scores_communication,review_scores_checkin,review_scores_rating,maximum_nights,listing_url,host_is_superhost,host_response_time,host_response_rate
0,49392,Rental unit in Santiago · 1 bedroom · 1 bed,224592,Maria,Providencia,-33.432770,-70.598920,Private room,47.232,3,...,NaN,NaN,NaN,NaN,NaN,730,https://www.airbnb.com/rooms/49392,f,NaN,NaN
1,52811,Rental unit in Providencia · ★4.42 · 1 bedroom...,244792,Cristián,Providencia,-33.429590,-70.618800,Entire home/apt,48.123,1,...,4.64,4.59,4.59,4.66,4.42,1825,https://www.airbnb.com/rooms/52811,f,a few days or more,0%
2,53494,Rental unit in Santiago · ★4.76 · 2 bedrooms ·...,249097,Paulina,Lo Barnechea,-33.345210,-70.295430,Entire home/apt,149.999,2,...,4.73,4.78,4.89,4.89,4.76,730,https://www.airbnb.com/rooms/53494,f,within a day,50%
3,65058,Rental unit in Santiago · 1 bedroom · 1 bed · ...,318016,Patricio,Recoleta,-33.430490,-70.640790,Private room,53.470,2,...,NaN,NaN,NaN,NaN,NaN,730,https://www.airbnb.com/rooms/65058,f,NaN,NaN
4,73752,Rental unit in Santiago · 1 bedroom · 1 bed · ...,374124,Daniela&Ricardo,Santiago,-33.438650,-70.642410,Private room,71.294,3,...,NaN,NaN,NaN,NaN,NaN,10,https://www.airbnb.com/rooms/73752,f,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11245,985454221337334276,Condo in Ñuñoa · ★New · 1 bedroom · 2 beds · 1...,1434751,Celia,Ñuñoa,-33.464356,-70.625435,Entire home/apt,44.958,10,...,NaN,NaN,NaN,NaN,NaN,365,https://www.airbnb.com/rooms/985454221337334276,f,within an hour,100%
11246,985460635695393707,Rental unit in Las Condes · ★New · 1 bedroom ·...,537305752,Marcelo,Las Condes,-33.407773,-70.559417,Entire home/apt,50.520,1,...,NaN,NaN,NaN,NaN,NaN,365,https://www.airbnb.com/rooms/985460635695393707,f,NaN,NaN
11247,985495018539241667,Rental unit in Santiago · ★New · 1 bedroom · 2...,538246242,Valentina,Santiago,-33.437960,-70.644980,Entire home/apt,33.257,2,...,NaN,NaN,NaN,NaN,NaN,365,https://www.airbnb.com/rooms/985495018539241667,f,NaN,NaN
11248,985525324833989411,Rental unit in Las Condes · ★New · 1 bedroom ·...,500136896,Ana,Las Condes,-33.412978,-70.602668,Private room,24.297,1,...,NaN,NaN,NaN,NaN,NaN,365,https://www.airbnb.com/rooms/985525324833989411,f,NaN,NaN
11249,985660815267811587,Rental unit in Santiago · ★New · 1 bedroom · 1...,538287698,Fabiola,Santiago,-33.438711,-70.644175,Entire home/apt,30.400,1,...,NaN,NaN,NaN,NaN,NaN,365,https://www.airbnb.com/rooms/985660815267811587,f,NaN,NaN

In [5]:
listings['neighbourhood'].unique()

array(['Providencia', 'Lo Barnechea', 'Recoleta', 'Santiago',
       'La Florida', 'Las Condes', 'La Reina', 'Ñuñoa', 'Independencia',
       'San Miguel', 'Peñalolén', 'Vitacura', 'Maipú', 'Estación Central',
       'Pedro Aguirre Cerda', 'San Joaquín', 'Macul', 'El Bosque',
       'Lo Espejo', 'La Cisterna', 'Quinta Normal', 'Quilicura',
       'Pudahuel', 'Lo Prado', 'Huechuraba', 'Renca', 'Cerrillos',
       'La Granja', 'Conchalí', 'Cerro Navia', 'San Ramón'], dtype=object)

In [6]:
listings['property_type'].unique()

array(['Private room in rental unit', 'Entire rental unit',
       'Private room in home', 'Entire condo', 'Private room in bungalow',
       'Shared room in home', 'Private room in condo',
       'Entire serviced apartment', 'Entire villa', 'Casa particular',
       'Private room in bed and breakfast', 'Entire loft',
       'Room in serviced apartment', 'Entire home',
       'Private room in tower', 'Shared room in rental unit',
       'Entire vacation home', 'Private room',
       'Private room in guest suite', 'Private room in guesthouse',
       'Shared room in hostel', 'Private room in townhouse',
       'Shared room in loft', 'Tiny home', 'Private room in hostel',
       'Entire townhouse', 'Entire cabin', 'Entire place',
       'Room in boutique hotel', 'Private room in serviced apartment',
       'Private room in cabin', 'Entire guesthouse',
       'Private room in farm stay', 'Entire bungalow',
       'Entire guest suite', 'Private room in casa particular',
       'Private room in loft', 'Private room in boat', 'Entire chalet',
       'Shared room in bed and breakfast', 'Tower',
       'Shared room in guest suite', 'Private room in nature lodge',
       'Private room in chalet', 'Shared room in condo',
       'Shared room in guesthouse', 'Private room in villa',
       'Room in aparthotel', 'Private room in houseboat',
       'Shared room in houseboat', 'Entire cottage', 'Shared room',
       'Private room in cottage', 'Private room in vacation home',
       'Room in hostel', 'Private room in floor',
       'Shared room in serviced apartment', 'Private room in tiny home',
       'Camper/RV', 'Shared room in casa particular',
       'Private room in earthen home', 'Room in hotel', 'Bus',
       'Room in bed and breakfast', 'Hut', 'Private room in bus',
       'Private room in camper/rv', 'Shared room in earthen home',
       'Shared room in tiny home', 'Private room in barn', 'Treehouse',
       'Private room in pension', 'Farm stay', 'Ranch',
       'Private room in castle', 'Yurt', 'Shipping container',
       'Private room in dome', 'Private room in treehouse', 'Windmill',
       'Shared room in hotel', 'Private room in tent', 'Castle', 'Cave',
       'Earthen home', 'Dome', 'Private room in yurt'], dtype=object)

In [7]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11250 entries, 0 to 11249
Data columns (total 31 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              11250 non-null  int64
 1   name                            11250 non-null  object
 2   host_id                         11250 non-null  int64
 3   host_name                       11250 non-null  object
 4   neighbourhood                   11250 non-null  object
 5   latitude                        11250 non-null  float64
 6   longitude                       11250 non-null  float64
 7   room_type                       11250 non-null  object
 8   price                           11250 non-null  float64
 9   minimum_nights                  11250 non-null  int64
 10  number_of_reviews               11250 non-null  int64
 11  last_review                     8516 non-null   object
 12  reviews_per_month               8516 non-null   float64
 13  calculated_host_listings_count  11250 non-null  int64
 14  availability_365                11250 non-null  int64
 15  number_of_reviews_ltm           11250 non-null  int64
 16  property_type                   11250 non-null  object
 17  accommodates                    11250 non-null  int64
 18  first_review                    8516 non-null   object
 19  review_scores_value             8457 non-null   float64
 20  review_scores_cleanliness       8457 non-null   float64
 21  review_scores_location          8457 non-null   float64
 22  review_scores_accuracy          8459 non-null   float64
 23  review_scores_communication     8459 non-null   float64
 24  review_scores_checkin           8457 non-null   float64
 25  review_scores_rating            8517 non-null   float64
 26  maximum_nights                  11250 non-null  int64
 27  listing_url                     11250 non-null  object
 28  host_is_superhost               11083 non-null  object
 29  host_response_time              8556 non-null   object
 30  host_response_rate              8556 non-null   object
dtypes: float64(11), int64(9), object(11)
memory usage: 2.7+ MB

In [8]:
from pycaret.regression import *

In [9]:
listings.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood', 'latitude',
       'longitude', 'room_type', 'price', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365',
       'number_of_reviews_ltm', 'property_type', 'accommodates',
       'first_review', 'review_scores_value', 'review_scores_cleanliness',
       'review_scores_location', 'review_scores_accuracy',
       'review_scores_communication', 'review_scores_checkin',
       'review_scores_rating', 'maximum_nights', 'listing_url',
       'host_is_superhost', 'host_response_time', 'host_response_rate'],
      dtype='object')

In [10]:
listings_pred = listings.copy()
listings_pred_new = listings_pred[["neighbourhood","accommodates", "property_type", "room_type", "price", "minimum_nights", "maximum_nights" ]] 
#Ponemos doble corchete y metemos ahi las columnas que queremos usar 
#Variable objetivo tenemos 'price' y usamos otras columnas para saber el problema de regresion
#Si quisiesemos saber si un barrio es caro, barato... nuestra variable objetivo seria 'neighbourhood'

In [11]:
listings_pred_new.head()

,neighbourhood,accommodates,property_type,room_type,price,minimum_nights,maximum_nights
0,Providencia,1,Private room in rental unit,Private room,47.232,3,730
1,Providencia,4,Entire rental unit,Entire home/apt,48.123,1,1825
2,Lo Barnechea,8,Entire rental unit,Entire home/apt,149.999,2,730
3,Recoleta,2,Private room in rental unit,Private room,53.470,2,730
4,Santiago,1,Private room in rental unit,Private room,71.294,3,10

In [12]:
setup = setup(listings_pred_new, target = "price")
# Variable set up con el data frame que queremos y la columna objetivo sera 'price'
#Cuando el set up entre vea el price que hay y como viene dado automaticamente va tirar algoritmo de regresion a ver como se comporta
#pero primero nos hace set up y nos da informacion

In [13]:
best = compare_models()
#COmparamos modelos, elegimos uno y hacemos el instanciamiento
#Elegimos ridge

In [14]:
ridge = create_model("ridge")
#Unas mini vueltas un testeo rapido de mi modelo
#COnfiguramos mi modelo
#Nuestro modelo de regresion esta utilizando la columna price como target y esta haciendo como 10 esperimentos a ver como se porta

In [15]:
tuned_ridge = tune_model(ridge)
#Hacemos un tuned de ridge y ahora tenemos los hiper parametros
#Entramos en los hiper parametro (Fifan dificultadea ta ola)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [16]:
evaluate_model(tuned_ridge)
#Los pasos que esta haciendo pycare desde un punto hasta el final (pipeline) desde que recibe el data hasta el modelo, preprocesamiento automatico.

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [17]:
final_ridge_best = finalize_model(tuned_ridge)

In [18]:
save_model(tuned_ridge, "ml(SC)_airbnb")
#EN caso de picare guarda en .pkl , seria el modelo preparado para hacer inferencia despues del entrenamiento que tiene

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['accommodates', 'minimum_nights',
                                              'maximum_nights'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['neighbourhood', 'property_type',
                                              'room_type'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('onehot_encoding',
                  Transfo...ype'],
                                     transformer=OneHotEncoder(cols=['room_type'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('rest_encoding',
                  TransformerWrapper(include=['neighbourhood', 'property_type'],
                                     transformer=TargetEncoder(cols=['neighbourhood',
                                                                     'property_type'],
                                                               handle_missing='return_nan'))),
                 ('trained_model',
                  Ridge(alpha=9.84, fit_intercept=False, random_state=7310))]),
 'ml(SC)_airbnb.pkl')

In [19]:
#from sklearn.impute import KNNImputer
#X = listings.drop('host_since', axis=1)
#impute_knn = KNNImputer(n_neighbors=5)
#listings_knn = pd.DataFrame(impute_knn.fit_transform(X), columns=X.columns)